<header id="header">
	<div id="logo">
		<a href="https://spartronics4915.com"> <img id="logo-image" src="{% link assets/images/logo.png %}"/> </a>
		<div id="logo-text">
			<h1> <a href="https://spartronics4915.com"> Spartronics </a> </h1>
			<h2> FIRST Robotics Team 4915 </h2>
			<h2> Bainbridge Island, WA </h2>
		</div>
	</div>
	<!-- <div id="widget"> --> <!-- Scripts systematically replace home-widget -->
	<!-- </div>-->
	<nav id="menu">
		<ul id="menu-about"> <a href="{% link about/our-team.md %}"> About </a>
			<li> <a href="{% link about/our-team.md %}"> Our Team </a> </li>
			<li> <a href="{% link about/our-robots.md %}"> Our Robots </a>
				<ul> <!-- FIXME: linking to an anchor is tricky -->
					<li> <a href="{% link about/our-robots/athena-2020.md %}"> ATHENA (2020) </a> </li>
					<li> <a href="{% link about/our-robots/chaos-2019.md %}"> CHAOS (2019) </a> </li>
					<li> <a href="{% link about/our-robots/themis-2018.md %}"> THEMIS (2018) </a> </li>
					<li> <a href="{% link about/our-robots/helios-2017.md %}"> HELIOS (2017) </a> </li>
					<li> <a href="{% link about/our-robots/ares-2016.md %}"> ARES (2016) </a> </li>
					<li> <a href="{% link about/our-robots/gaea-2015.md %}"> GAEA (2015) </a> </li>
					<li> <a href="{% link about/our-robots/atlas-2014.md %}"> ATLaS (2014) </a> </li>
				</ul>
			</li>
			<li> <a href="{% link about/our-history.md %}"> Our History </a> </li>
			<li> <a href="{% link about/about-first.md %}"> About FIRST </a> </li>
			<li> <a href="{% link about/contact-us.md %}"> Contact Us </a> </li>
		</ul>
		<ul> <a id="menu-blog" href="{% link blog.html %}"> Blog </a> </ul>
		<ul id="community"> <a href="{% link community/outreach.md %}"> Community </a>
			<li> <a href="{% link community/outreach.md %}"> Outreach </a> </li>
			<li> <a href="{% link community/sponsors.md %}"> Sponsors </a> </li>
			<li> <a href="{% link community/supporters.md %}"> Supporters </a> </li>
			<li> <a href="{% link community/donate.md %}"> Donate </a> </li>
		</ul>
		<ul id="menu-media"> <a href="{% link media/photos-and-videos.md %}"> Media </a>
			<li> <a href="{% link media/photos-and-videos.md %}"> Photos and Videos </a> </li>
			<li> <a href="{% link media/news-coverage.md %}"> News Coverage </a> </li>
			<li> <a href="{% link media/social-media.md %}"> Social Media </a> </li>
		</ul>
		<ul id="menu-resources"> <a href="{% link resources/general.md %}"> Resources </a>
			<li> <a href="{% link resources/general.md %}"> General </a> </li>
			<li> <a href="{% link resources/marketing.md %}"> Marketing </a> </li>
			<li> <a href="{% link resources/programming.md %}"> Programming </a> </li>
			<li> <a href="{% link resources/mechanical.md %}"> Mechanical </a> </li>
			<li> <a href="{% link resources/electrical.md %}"> Electrical </a> </li>
			<li> <a href="{% link resources/design.md %}"> Design </a> </li>
		</ul>
		<!-- <div id="search"> </div> -->
	</nav>
</header>
