<header>
	<div id="title">
		<a href="https://spartronics4915.com"> <img id="logo" src="{% link assets/images/favicon.png %}"/> </a>
		<h1 id="title"> <a href="https://spartronics4915.com"> Spartronics 4915 </a> </h1>
		<h2 id="description"> FIRST Robotics Team </h2>
		<h3 id="location"> Bainbridge Island, WA </h3>
	</div>
	<div id="widget"> <!-- Scripts systematically replace home-widget -->
	</div>
	<nav id="menu">
		<ul id="about"> <a href="{% link about/our-team.md %}"> About </a>
			<li> <a href="{% link about/our-team.md %}"> Our Team </a> </li>
			<li> <a href="{% link about/our-robots.md %}"> Our Robots </a>
				<ul> <!-- FIXME: linking to an anchor is tricky -->
					<li> <a href="about/our-robots.md#athena-2020"> ATHENA (2020) </a> </li>
					<li> <a href="about/our-robots.md#chaos-2019"> CHAOS (2019) </a> </li>
					<li> <a href="about/our-robots.md#themis-2018"> THEMIS (2018) </a> </li>
					<li> <a href="about/our-robots.md#helios-2017"> HELIOS (2017) </a> </li>
					<li> <a href="about/our-robots.md#ares-2016"> ARES (2016) </a> </li>
					<li> <a href="about/our-robots.md#gaea-2015"> GAEA (2015) </a> </li>
					<li> <a href="about/our-robots.md#atlas-2014"> ATLaS (2014) </a> </li>
				</ul>
			</li>
			<li> <a href="{% link about/our-history.md %}"> Our History </a> </li>
			<li> <a href="{% link about/about-first.md %}"> About FIRST </a> </li>
			<li> <a href="{% link about/contact-us.md %}"> Contact Us </a> </li>
		</ul>
		<a id="blog" href="{% link blog.html %}"> Blog </a>
		<ul id="community"> <a href="{% link community/outreach.md %}"> Community </a>
			<li> <a href="{% link community/outreach.md %}"> Outreach </a> </li>
			<li> <a href="{% link community/sponsors.md %}"> Sponsors </a> </li>
			<li> <a href="{% link community/supporters.md %}"> Supporters </a> </li>
			<li> <a href="{% link community/donate.md %}"> Donate </a> </li>
		</ul>
		<ul id="media"> <a href="{% link media/photos-and-videos.md %}"> Media </a>
			<li> <a href="{% link media/photos-and-videos.md %}"> Photos and Videos </a> </li>
			<li> <a href="{% link media/news-coverage.md %}"> News Coverage </a> </li>
			<li> <a href="{% link media/social-media.md %}"> Social Media </a> </li>
		</ul>
		<ul id="resources"> <a href="{% link resources/general.md %}"> Resources </a>
			<li> <a href="{% link resources/general.md %}"> General </a> </li>
			<li> <a href="{% link resources/marketing.md %}"> Marketing </a> </li>
			<li> <a href="{% link resources/programming.md %}"> Programming </a> </li>
			<li> <a href="{% link resources/mechanical.md %}"> Mechanical </a> </li>
			<li> <a href="{% link resources/electrical.md %}"> Electrical </a> </li>
			<li> <a href="{% link resources/design.md %}"> Design </a> </li>
		</ul>
		<div id="search"> </div>
	</nav>
</header>
