<header id="header">
	<div id="top">
		<div id="logo">
			<a href="{{ site.baseurl }} {% link index.html %}"> <img src="{{ site.baseurl }} {% link assets/images/logo.png %}"/> </a>
			<div>
				<h1> <a href="https://spartronics4915.com"> Spartronics 4915 </a> </h1>
				<h2> FIRST Robotics | Bainbridge Island, WA </h2>
			</div>
		</div>
		{% include timecircles.html %}
	</div>
	<nav id="menu">
		<ul> <a href="{{ site.baseurl }} {% link about/our-team.md %}"> About </a>
			<li> <a href="{{ site.baseurl }} {% link about/our-team.md %}"> Our Team </a> </li>
			<li> <a href="{{ site.baseurl }} {% link about/our-robots.md %}"> Our Robots </a>
				<ul>
					<li> <a href="{{ site.baseurl }} {% link about/our-robots/athena-2020.md %}"> ATHENA (2020) </a> </li>
					<li> <a href="{{ site.baseurl }} {% link about/our-robots/chaos-2019.md %}"> CHAOS (2019) </a> </li>
					<li> <a href="{{ site.baseurl }} {% link about/our-robots/themis-2018.md %}"> THEMIS (2018) </a> </li>
					<li> <a href="{{ site.baseurl }} {% link about/our-robots/helios-2017.md %}"> HELIOS (2017) </a> </li>
					<li> <a href="{{ site.baseurl }} {% link about/our-robots/ares-2016.md %}"> ARES (2016) </a> </li>
					<li> <a href="{{ site.baseurl }} {% link about/our-robots/gaea-2015.md %}"> GAEA (2015) </a> </li>
					<li> <a href="{{ site.baseurl }} {% link about/our-robots/atlas-2014.md %}"> ATLaS (2014) </a> </li>
				</ul>
			</li>
			<li> <a href="{{ site.baseurl }} {% link about/our-history.md %}"> Our History </a> </li>
			<li> <a href="{{ site.baseurl }} {% link about/about-first.md %}"> About FIRST </a> </li>
			<li> <a href="{{ site.baseurl }} {% link about/contact-us.md %}"> Contact Us </a> </li>
		</ul>
		<ul> <a href="{{ site.baseurl }} {% link blog.html %}"> Blog </a> </ul>
		<ul> <a href="{{ site.baseurl }} {% link calendar.html %}"> Calendar </a> </ul>
		<ul> <a href="{{ site.baseurl }} {% link community/outreach.md %}"> Community </a>
			<li> <a href="{{ site.baseurl }} {% link community/outreach.md %}"> Outreach </a> </li>
			<li> <a href="{{ site.baseurl }} {% link community/sponsors.md %}"> Sponsors </a> </li>
			<li> <a href="{{ site.baseurl }} {% link community/supporters.md %}"> Supporters </a> </li>
			<li> <a href="{{ site.baseurl }} {% link community/donate.md %}"> Donate </a> </li>
		</ul>
		<ul> <a href="{{ site.baseurl }} {% link media/photos-and-videos.md %}"> Media </a>
			<li> <a href="{{ site.baseurl }} {% link media/photos-and-videos.md %}"> Photos and Videos </a> </li>
			<li> <a href="{{ site.baseurl }} {% link media/news-coverage.md %}"> News Coverage </a> </li>
			<li> <a href="{{ site.baseurl }} {% link media/social-media.md %}"> Social Media </a> </li>
		</ul>
		<ul> <a href="{{ site.baseurl }} {% link resources/general.md %}"> Resources </a>
			<li> <a href="{{ site.baseurl }} {% link resources/general.md %}"> General </a> </li>
			<li> <a href="{{ site.baseurl }} {% link resources/marketing.md %}"> Marketing </a> </li>
			<li> <a href="{{ site.baseurl }} {% link resources/programming.md %}"> Programming </a> </li>
			<li> <a href="{{ site.baseurl }} {% link resources/mechanical.md %}"> Mechanical </a> </li>
			<li> <a href="{{ site.baseurl }} {% link resources/electrical.md %}"> Electrical </a> </li>
			<li> <a href="{{ site.baseurl }} {% link resources/design.md %}"> Design </a> </li>
		</ul>
		<!-- <div id="search"> </div> -->
	</nav>
</header>
