<!DOCTYPE HTML>
<html>
	<head>
		<title> {{ page.title }} - Spartronics </title>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/png" href="{{ site.baseurl }}{% link assets/images/logo.png %}"/>
		<link rel="stylesheet" href="{{ site.baseurl }}{% link css/normalize.css %}"/>
		<link rel="stylesheet" href="{{ site.baseurl }}{% link css/default.scss %}"/>
	</head>
	<body>
		<div id="page">
		{% include header.html %}

		{{ content }}

		{% include footer.html %}
		</div>
	</body>
</html>
